@using Convenience.Models.DataModels
@model Convenience.Models.ViewModels.Zaiko.ZaikoViewModel
@{
    ViewData["Title"] = "Soko";
}
<h2>倉庫在庫検索</h2>


<div class="container">
    <div class="form-group">
        <h3>キー入力部</h3>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-md-flex justify-content-between">
                <div class="col-md-6 mb-3">
                    <div class="row">
                        <div class="col-2 text-center">
                            <p>ソート順位</p>
                        </div>
                        <div class="col-4">
                            <label asp-for="@Model.KeyEventList.FirstOrDefault().KeyEventData" class="control-label"></label>
                        </div>
                        <div class="col-2 text-center">
                        </div>
                    </div>

                    @for (int i = 0; i < Model.KeyEventList.Length; i++) {
                        <div class="row mb-1">
                            <div class="col-2 text-center">
                                @(i + 1)
                            </div>
                            <div class="col-4">
                                <select asp-for="@Model.KeyEventList[i].KeyEventData" asp-items="@Model.KeyList" class="form-control">
                                    <option value="">-- 選択してください --</option>
                                </select>
                            </div>
                            <div class="col-2 form-check form-switch text-center">
                                <input asp-for="@Model.KeyEventList[i].Descending" type="checkbox" class="form-check-input" />
                                <label asp-for="@Model.KeyEventList[i].Descending"  class="form-check-label">降順</label>
                            </div>
                        </div>
                    }
                </div>
                <hr class="my-2 bg-primary"></hr>
                <div class="col-md-6 mb-3">
                    <div class="row">
                        <div class="col-2 text-center">
                            <p>検索キー</p>
                        </div>
                        <div class="col-4">
                            <label asp-for="@Model.SelecteWhereItemArray.FirstOrDefault().LeftSide" class="control-label"></label>
                        </div>
                        <div class="col-2 text-center">
                            <label asp-for="@Model.SelecteWhereItemArray.FirstOrDefault().ComparisonOperator" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="@Model.SelecteWhereItemArray.FirstOrDefault().RightSide" class="control-label"></label>
                        </div>
                    </div>
                    @for (int i = 0; i < Model.SelecteWhereItemArray.Count(); i++) {
                        <div class="row mb-1">
                            <div class="col-2 text-center">
                                @(i + 1)
                            </div>
                            <div class="col-4">
                                <select asp-for="@Model.SelecteWhereItemArray[i].LeftSide" asp-items="@Model.SelectWhereLeftSideList" class="form-control">
                                    <option value="">-- 選択してください --</option>
                                </select>
                            </div>
                            <div class="col-2 text-center">
                                <select asp-for="@Model.SelecteWhereItemArray[i].ComparisonOperator" asp-items="@Model.ComparisonOperatorList" class="form-control">
                                    <option value="==">=</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <input asp-for="@Model.SelecteWhereItemArray[i].RightSide" class="form-control" />
                            </div>
                        </div>

                    }
                </div>
            </div>
            <input type="submit" value="検索" class="btn btn-primary" /></input>
        </form>
    </div>


    <hr class="my-2 bg-primary"></hr>

    @if (Model.zaikoListLine != null && Model.zaikoListLine.Count() > 0) {
        <div class="list-group">
            <table class="table table-striped table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>
                            <label asp-for="@Model.zaikoListLine.FirstOrDefault().ShiireSakiId" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.zaikoListLine.FirstOrDefault().ShiirePrdId" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.zaikoListLine.FirstOrDefault().ShohinId" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.zaikoListLine.FirstOrDefault().ShohinName" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.zaikoListLine.FirstOrDefault().ChumonZan" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.zaikoListLine.FirstOrDefault().SokoZaikoCaseSu" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.zaikoListLine.FirstOrDefault().SokoZaikoSu" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.zaikoListLine.FirstOrDefault().LastShiireDate" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.zaikoListLine.FirstOrDefault().LastDeliveryDate" class="control-label"></label>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @for (var i = 0; i < Model.zaikoListLine.Count; i++) {
                        <tr>
                            <td>
                                @Model.zaikoListLine[i].ShiireSakiId
                            </td>
                            <td>
                                @Model.zaikoListLine[i].ShiirePrdId
                            </td>
                            <td>
                                @Model.zaikoListLine[i].ShohinId
                            </td>
                            <td>
                                @Model.zaikoListLine[i].ShohinName
                            </td>
                            <td>
                                @Model.zaikoListLine[i].ChumonZan
                            </td>
                            <td>
                                @Model.zaikoListLine[i].SokoZaikoCaseSu
                            </td>
                            <td>
                                @Model.zaikoListLine[i].SokoZaikoSu
                            </td>
                            <td>
                                @Model.zaikoListLine[i].LastShiireDate
                            </td>
                            <td>
                                @Model.zaikoListLine[i].LastDeliveryDate
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
